{% props name = "", year = "" %}

<div class="text-center sm:text-left sm:flex sm:flex-col sm:gap-4">
	<h2 class="heading-large text-white">{{ name }}</h2>
	<p class="body-medium text-grey">{{ year }} Years Experience</p>
</div>
