<menu class="flex flex-col gap-5 sm:gap-0 sm:justify-between sm:flex-row items-center">
	<li>
		<a href="{{ path("app_home") }}" class="text-white text-[24px] tracking-[-0.33px] md:text-[32px] font-bold leading-8 sm:tracking-[-0.44px] hover:text-primary">
			<div>romeonobime</div>
		</a>
	</li>
	<li>
		<menu class="flex justify-between gap-8 sm:pr-8">
			<li>
				<a href="https://www.linkedin.com/in/rom%C3%A9o-nobim%C3%A9-308649219/" class="fill-white hover:fill-primary">
					<twig:BaseIconGithub/>
				</a>
			</li>
			<li>
				<a href="https://github.com/For4llx" class="fill-white hover:fill-primary">
					<twig:BaseIconLinkedin/>
				</a>
			</li>
			<li>
				<a href="https://www.frontendmentor.io/profile/For4llx" class="fill-white hover:fill-primary">
					<twig:BaseIconFrontendMentor/>
				</a>
			</li>
		</menu>
	</li>
</menu>
