<footer class="wrapper flex flex-col gap-[87px] bg-darkGrey pt-[60px] sm:items-center">
    <div id="contact" class="flex flex-col gap-[50px] sm:max-w-[445px] md:flex-row md:justify-between md:max-w-full md:w-full md:relative">
        <article class="flex flex-col gap-5 md:max-w-[445px]">
            <h1 class="heading-xlarge text-white text-center md:text-left">Contact</h1>
            <p class="body-medium text-grey text-center md:text-left">I would love to hear about your project and how I could help. Please fill in the form, and I’ll get back to you as soon as possible.</p>
        </article>
        <twig:TheContactForm />
    </div>
    <twig:TheFooterNavigation />
</footer>
