<article class="wrapper flex items-center flex-col-reverse gap-10 sm:flex-row justfify-center sm:justify-end">
	<div class="wrapper flex flex-col  items-center text-center sm:text-left sm:items-start gap-6 sm:top-[150px] sm:z-10 sm:absolute sm:right-0 sm:left-0 sm:gap-8 md:gap-16 md:top-[200px]">
		<div class="relative pattern-rings-header flex flex-col gap-6 sm:max-w-[445px] sm:gap-16 md:gap-10 md:max-w-[706px]">
			<h1 class="flex flex-col heading-xlarge text-white">
				<p>Nice to meet you! I'm <em class="underline decoration-primary decoration-[4px] sm:decoration-[6px] decoration-solid underline-offset-8 w-fit whitespace-nowrap">Roméo Nobimé</em>.</p>
			</h1>
			<p class="w-full sm:max-w-[445px] text-grey body-medium">Based in France, I’m a fullstack developer passionate about building incredible web apps that users love.</p>
		</div>
		<a class="button-primary" href="#contact">Contact</a>
	</div>
	<figure class="md:relative pattern-circle-header z-10 sm:z-auto h-[383px] w-[174px] bg-gradient-to-t from-darkGrey to-darkGrey/0 flex items-end sm:w-full sm:bg-darkGrey sm:items-end  sm:absolute sm:right-0 sm:top-0 md:static  sm:max-w-[322px] sm:h-[600px] md:max-w-[445px] md:h-[720px] md:right-auto">
		<img class="" src="{{ asset('images/profile.png') }}" alt="This is a photo of Roméo Nobimé"/>
	</figure>
</article>
